<%= form_for @adventure, :html => { :multipart => true } do |f| %>
  <% if @adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
      <% @adventure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Sistema de juego" %><br />
    <%= f.text_field :system %>
  </div>
  <div class="field">
    <%= f.label "Descripción" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Master de la partida" %><br />
    <%= f.text_field :mc %>
  </div>
  <div class="field">
    <%= f.label "¿Esta en juego?" %><br />
    <%= f.check_box :playing %>
  </div>
  <div class="field">
    <%= f.label "Enlace a foto" %><br />
    <%= f.text_field :imglink %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

