<h1>Listado de aventuras</h1>

<table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th>Sistema</th>
    <th>Descripción</th>
    <th>Master</th>
    <th>Estado</th>
    <% if current_user.try(:admin?)%>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @adventures.each do |adventure| %>
  <tr>
    <td><%= link_to adventure.name, adventure %></td>
    <td><%= adventure.system %></td>
    <td><%= adventure.description %></td>
    <td><%= adventure.mc %></td>
    <% if adventure.playing? %>
        <td> Aventura en curso </td>
        <%else%>
        <td> Aventura finalizada </td>
        <%end%>
    <% if current_user.try(:admin?)%>
      <td><%= link_to 'Editar', edit_adventure_path(adventure) %></td>
      <td><%= link_to 'Borrar', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>  
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva aventura', new_adventure_path %>
