<div class="container-fluid">
     <div class="row-fluid">  
      <div class="span12">
       
      <h1><%=@adventure.name %></h1>
      <p>          
          <%= @adventure.description %>
      </p>
        <% if current_user.try(:admin?)%>
            <%= link_to 'Editar la partida', edit_adventure_path(@adventure) %> <br />
        <% end %>
      <p>
        <% if @adventure.imglink != "" %>
           <%= image_tag @adventure.imglink, :size => "400x400", class: "img-rounded" %> 
        <% end %>
      </p>  
      <p>
          <b>Ambientada en:  </b>
          <%= @adventure.system %>
      </p>
      <p>
          <b>Dirigida por:</b>
          <%= @adventure.mc %>
      </p>
      <p>
          <b>Estado de la partida: </b>
          <% if @adventure.playing? %>
             jugando 
          <% else %>
             terminada 
          <% end %>
      </p> 
      <div class="seccion">       
        <h3> <a> Protagonizada por: </a></h3>
        <div class="listado">
          <ul>
              <% @adventure.characters.each do |char| %>
              <div class="bloque">
                <li><a><%= char.name %></a></li>
                <div class="contenido"><%= char.history.html_safe %></div>
              </div>
              <% end %>
          </ul>
          <p><%= link_to 'Nuevo Jugador', new_adventure_character_path(@adventure) %></p>
        </div>
      </div>
      <div class="seccion"> 
        <h3><a><%= "Archivos de la aventura" %></a></h3> 
        <div class="listado"> 
          <ul>
            <% @adventure.docs.each do |doc| %>
              <div class="bloque">
                <li><a><%= doc.name %></a></li></p>  
                <p class="contenido"><%= doc.name %></p>
                <iframe class="contenido" width="900" height="720" src=<%= doc.gdoclink %></iframe>
              </div>            
            <% end %>
          </ul>    
          <p><%= link_to 'Nuevo documento', new_adventure_doc_path(@adventure) %></p>  
        </div> 
      </div>   
      <div class="seccion">
        <h3><a>Diario de la aventura</a></h3>
          <div class="listado"> 
            <ol>
              <% @adventure.chapters.each do |chapter| %>
                <div class="bloque">  
                  <li ><h4><a><%= chapter.name %></a></li></h4>
                  <div class="contenido"><%= chapter.body.html_safe %></div>
                </div>
              
            <% end %>
            </ol> 
            <p><%= link_to 'Nuevo Capitulo', new_adventure_chapter_path(@adventure) %></p>
          </div>
        </div>
        <%= link_to 'Volver', adventures_path %>
      </div>
      </div>
    
</div>