<div class="container">
     <div class="row">  
      <div class="span9">
       
      <h1><%= link_to @adventure.name, @adventure %></h1>
        <% if current_user.try(:admin?)%>
            <%= link_to 'Editar la partida', edit_adventure_path(@adventure) %> 
        <% end %>
      <p>
        <% if @adventure.imglink != "" %>
           <%= image_tag @adventure.imglink, :size => "400x400" %> 
        <% end %>        

      </p>  
      <p>
          <b>Sistema de juego: </b>
          <%= @adventure.system %>
      </p>
      <p>
          <b>Descriptión:</b>
          <%= @adventure.description %>
      </p>
      <p>
          <b>Maestro de ceremonias:</b>
          <%= @adventure.mc %>
      </p>
      <p>
          <b>Estado de la partida: </b>
          <% if @adventure.playing? %>
             jugando 
          <% else %>
             terminada 
          <% end %>
      </p>        
      <p><b>Protagonizada por: </b></p>
      <%= link_to "ver u ocultar",#,
      <div id"jugadores">
          <ul>
              <% @adventure.characters.each do |char| %>
                <li><b><%= link_to char.name, char %></b></li></p>   
              <% end %>
          </ul>
      </div>

    <h2>
          <%= link_to "Archivos de la aventura", adventure_docs_path(@adventure) %>
    </h2>  
    
        <ul>
          <% @adventure.docs.each do |doc| %>
            <li><b><%= link_to doc.name, doc %></b></li></p>               
          <% end %>
      </ul>
    
    <p>  
          <%= link_to 'Crear un nuevo documento', new_adventure_doc_path(@adventure) %>
    </p>      
    
    


    <h2>Diario de la aventura</h2>
    <ol>
      <% @adventure.chapters.each do |chapter| %>
        <li><h4><b><%= link_to chapter.name, chapter %></b></li></h4>
        <p><%= chapter.body.html_safe %></p>
    <% end %>
    </ol> 
    <%= link_to 'Volver', adventures_path %>
    </div>
      <div class="span3">
        <h3>Añade una entrada en el diario:</h3>
        <%= form_for([@adventure, @adventure.chapters.build]) do |f| %>
            <div class="field">
              <%= f.label "Título" %><br />
              <%= f.text_field :name %>
            </div>
            <div class="field">
              <%= f.label "Contenido" %><br />
              <%= f.text_area :body, :size => "5x10"  %>
            </div>

            <div class="field">
              <%= f.label "Enlace a foto" %><br />
              <%= f.text_field :imglink %>
            </div>

            <div class="actions">
              <%= f.submit %>
            </div>
        <% end %>

        <h3>Añade una personaje a la aventura :</h3>
            <%= form_for([@adventure, @adventure.characters.build]) do |f| %>
              <div class="field">
                <%= f.label "Nombre" %><br />
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= f.label "Historia" %><br />
                <%= f.text_field :history %>
              </div>
              <div class="field">
                <%= f.label "¿Es pj?" %>
                <%= f.check_box :pj %>
              </div>
              <div class="field">
                <%= f.label "¿Esta vivo?" %>
                <%= f.check_box :alive %>
              </div>
              <div class="field">
                <%= f.label "Enlace a foto" %><br />
                <%= f.text_field :imglink %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
            <% end %>
      </div>
    </div>
</div>