<%= form_for ([@adventure, @character]) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Historia" %><br />
    <%= f.text_field :history %>
  </div>
  <div class="field">
    <%= f.label "Es pj" %><br />
    <%= f.check_box :pj %>
  </div>
  <div class="field">
    <%= f.label "Esta vivo" %><br />
    <%= f.check_box :alive %>
  </div>

  <div class="field">
    <%= f.label "Enlace a foto" %><br />
    <%= f.text_field :imglink %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
