<h1>Listado de personajes</h1>

<table class="table table-striped">
  <tr>
    <th>Adventure</th>
    <th>Name</th>
    <th>History</th>
    <th>Pj</th>
    <th>Alive</th>
    <th>User</th>
    <th></th>
    <th></th>
    <% if current_user.try(:admin?)%>
        <th></th>
    <% end %>    
  </tr>
<% @characters.each do |character| %>
  <tr>
    <td><%= character.adventure_id %></td>
    <td><%= link_to character.name, character %></td>
    <td><%= character.history %></td>
    <td><%= character.pj %></td>
    <td><%= character.alive %></td>
    <td><%= character.user_id %></td>
    <td><%= link_to 'Mostrar', character %></td>
    <td><%= link_to 'Editar', edit_character_path(character) %></td>
    <% if current_user.try(:admin?)%>
        <td><%= link_to 'Borrar', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Nuevo personaje', new_character_path %>


