<p id="notice"><%= notice %></p>

<p>
  <b>Aventura:</b>
  <%= @character.adventure.name %>
</p>

<p>
  <b>Nombre:</b>
  <%= @character.name %>
</p>

<p>
  <b>Historia:</b>
  <%= @character.history %>
</p>

<p>
  <b>Es PJ:</b>
  <%= @character.pj %>
</p>

<p>
  <b>Esta vivo:</b>
  <%= @character.alive %>
</p>

<p>
  <b>Código de usuario</b>
  <%= @character.user_id %>
</p>


<%= link_to 'Editar', edit_character_path(@character) %> |
<%= link_to 'Volver', characters_path %>
