

<h1>    
  <%= link_to @character.adventure.name, @character.adventure %>
  
</h1>

<h2>
  <%= link_to @character.name, @character%>
</h2>
<p>
  <% if @character.imglink != "" %>
    <%= image_tag @character.imglink, :size => "400x400" %> 
  <% end %>

</p>

<p>
  <b>Historia:</b>
  <%= @character.history %>
</p>

<p>
  <b>Es PJ:</b>
  <%= @character.pj %>
</p>

<p>
  <b>Esta vivo:</b>
  <%= @character.alive %>
</p>

<p>
  <b>Código de usuario</b>
  <%= @character.user_id %>
</p>


<%= link_to 'Editar', edit_character_path(@character) %> |
<%= link_to 'Volver', adventure_path(@character.adventure) %>
