<p id="notice"><%= notice %></p>

<p>
  <b>Adventure:</b>
  <%= @character.adventure_id %>
</p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>History:</b>
  <%= @character.history %>
</p>

<p>
  <b>Pj:</b>
  <%= @character.pj %>
</p>

<p>
  <b>Alive:</b>
  <%= @character.alive %>
</p>

<p>
  <b>User:</b>
  <%= @character.user_id %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
