<%= form_for @chapter, :html => { :multipart => true } do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Codigo de la aventura" %><br />
    <%= f.number_field :adventure_id %>
  </div>
  <div class="field">
    <%= f.label "Título del capitulo" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Contenido" %><br />
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label "Enlace a foto" %><br />
    <%= f.text_field :imglink %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
