<h1>Listado de capitulos</h1>

<table class="table">
  <tr>
    <th>Adventure</th>
    <th>Name</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <% if current_user.try(:admin?)%>
      <th></th>
    <% end %> 
    
  </tr>

<% @chapters.each do |chapter| %>
  <tr>
   
    <td><%=  chapter.adventure_id  %></td>
    <td><%= link_to chapter.name, chapter %></td>
    <td><%= chapter.body %></td>
    <td><%= link_to 'Ver', chapter %></td>
    <td><%= link_to 'Editar', edit_chapter_path(chapter) %></td>
    <% if current_user.try(:admin?)%>
      <td><%= link_to 'Borrar', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Capitulo', new_chapter_path %>
