
<h1>  	
  <%= link_to @chapter.adventure.name, @chapter.adventure %>
  
</h1>

<h2>
  <b>Título:</b>
  <%= link_to @chapter.name, @chapter %>
</h2>
<p>
    <% if @chapter.imglink != "" %>
      <%= image_tag @chapter.imglink, :size => "400x400" %> 
    <% end %>

</p>
<p>
  
  <%= @chapter.body %>
</p>


<%= link_to 'Editar', edit_chapter_path(@chapter) %> |
<%= link_to 'Volver', adventure_path(@chapter.adventure) %>
