
<h1>  	
  
  <%= @chapter.adventure.name %>
</h1>

<h2>
  <b>Título:</b>
  <%= @chapter.name %>
</h2>
<p>
 	<% if @chapter.photo.url != "missing.png" %>
		<%= image_tag @chapter.photo.url, :size => "500x500" %> 
	<% end %>  
</p>
<p>
  
  <%= @chapter.body %>
</p>


<%= link_to 'Editar', edit_chapter_path(@chapter) %> |
<%= link_to 'Volver', adventure_path(@chapter.adventure) %>
