<p id="notice"><%= notice %></p>

<p>
  <b>Aventure:</b>
  <%= @chapter.adventure.name %>
</p>

<p>
  <b>Título:</b>
  <%= @chapter.name %>
</p>

<p>
  <b>Contenido:</b>
  <%= @chapter.body %>
</p>


<%= link_to 'Editar', edit_chapter_path(@chapter) %> |
<%= link_to 'Vovler', chapters_path %>
