<!DOCTYPE html>
<html>
  <head>
    <title>Punalada Tapera</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    <%= render 'layouts/header' %>
  	<div class="container-fluid">
  		<div class="span10">
        <p id="notice"><%= notice %></p>
               
        
        <%= yield %>
  		</div>
    </div>
  </body>
</html>
